In [4]:
import pandas as pd
gold= pd.read_csv(r'C:\Users\archi\Lambda School Python\Unit 2 Project\CSVs\gold.csv')

In [10]:
gold15 = gold[['Address' ,'min_15']]
gold15.head()

                                             Address  min_15
0  http://matchhistory.na.leagueoflegends.com/en/...    -790
1  http://matchhistory.na.leagueoflegends.com/en/...    1394
2  http://matchhistory.na.leagueoflegends.com/en/...    2922
3  http://matchhistory.na.leagueoflegends.com/en/...    -335
4  http://matchhistory.na.leagueoflegends.com/en/...    -574

In [11]:
gold15.to_csv(r'C:\Users\archi\Lambda School Python\Unit 2 Project\CSVs\gold15.csv')